* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* navbar start */
.navbar {
    width: 100%;
    height: 100px;
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    transition: .3 ease-in-out;
}
.hide {
    display: none;
}
.hamburger-icon {
    display: none;
}
.list a {
    color: #000;
    text-decoration: none;
    padding: 0 30px;
    font-size: 1.1rem;
    transition: .3s ease-out;   
} 
.list a:hover {
    color: #EB5757;
}
.list a li {
    position: relative;
    transition: .3s ease;
}
.list a li:hover::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    border-radius: 2px;
    background: #EB5757;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}
.r-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #EB5757;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
}
.cart , .search{
    cursor: pointer;
}
.list.show-menu {
        transition: .3s ease-in-out;
        display: flex;
        transform: translateX(0%);
}
@media screen and (max-width: 1080px) {
    .navbar {
        padding: 0 40px;
    }
    .list a{
        padding: 0 10px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 780px) {
    .navbar {
        padding: 0 40px;
    }
    .r-container{
        display: none;
    }
    .list {
        right: 0;
        top: 0;
        position: absolute;
        width: 70%;
        height: 100vh;
        background: #EB5757;
        flex-direction: column;
        justify-content: start;
        padding: 30px;
        transform: translateX(101%);
        display: none;
    }
    .list a {
        padding: 10px;
        color: #ffffff;
        font-size: 1.1rem;
    }
    .hamburger-icon {
        display: block;
    }
    .hamburger-icon img {
        width: 40px;
    }
    .hide {
        display: block;
        padding-left: 100%;
        padding-right: 30px;
    }
    .hide img {
        width: 30px;
        cursor: pointer;
    }

}
/* navbar end */

/* banner start */
.banner-container {
    width: 100%;
    height: 100%;
    padding: 0px 200px;
}
.banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-container .fast-btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #FEE9DE;
    color: #EB5757;
    font-size: 1.1rem;
    cursor: pointer;
}
.text-container h1 {
    width: 550px;
    font-size: 72px;
    font-weight: bolder;
    line-height: 75px;
    color: #222;
    margin: 40px 0px 20px;
}
.text-container h1 span {
    color: #EB5757;
}
.text-container p {
    width: 450px;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
    color: #222;
    margin-bottom: 40px;
}
.link-text {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-text button {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background: #EB5757;
    font-size: 1.1rem;
    color: #ffffff;
    cursor: pointer;
}
.link-text a {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600px;
    text-decoration: none;
    color: #222;
}
.link-text div  {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
}
.image-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-pizza , .banner-customer  {
     position: absolute;
     display: none;
}
.banner-pizza {
    display: block;
    right: 0;
    bottom: 0;
    width: 270px;
    height: 131px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 4px 50px #00000010;
    border-radius: 20px;
    padding: 15px;
}
.banner-pizza h3{
    font-size: 1rem;
    color: #222;
    margin-top: 7px;
}
.banner-pizza div img {
    width: 13px;
    margin: 13px 0px 18px;
}
.banner-pizza p {
    font-size: 1.2rem;
    font-weight: 600;
}
.banner-pizza p span {
    color: #EB5757;
    font-size: .9rem;
    margin-right: 2px;
}
.banner-customer {
    display: block;
    width: 320px;
    height: 71px;
    left: 0;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 0 4px 50px #00000010;
    background-color: #ffffff;
    padding: 15px;
}
.banner-customer-img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #FEE9DE;
    display: flex;
    align-items: center;
    justify-content: center
}
.banner-customer-phone {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #EB5757;
    display: flex;
    align-items: center;
    justify-content: center
}
.banner-customer h4 {
    color: #222;
    margin-bottom: 10px;
}
.banner-customer p {
    font-size: 1rem;
    color: #222;
}
.banner-rate {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.banner-rate-img img:nth-child(2){
    position: relative;
    left: -30px;
}
.banner-rate-img img:nth-child(3){
    position: relative;
    left: -60px;
}
.banner-rate-text {
    position: relative;
    left: -50px;
    color: #222;
}
.banner-rate-text h3 {
    margin-bottom: 10px;
}
.banner-rate-text span:nth-child(3) {
    color: #bbb;
}


